.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #fffbe3;
  color: #333;
  padding: 1rem;
}

.not-found-container h1 {
  font-size: 6rem;
  color: #704df3;
  margin-bottom: 1rem;
}

.not-found-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.not-found-container button {
  background-color: #704df3;
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.not-found-container button:hover {
  background-color: #5b3dd1;
}
